<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css">
  <link rel="stylesheet" href="css/bulma.css">
  <link rel="stylesheet" href="css/master.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script src="exercises.js" charset="utf-8"></script>
  <script src="vendor/vue.js" charset="utf-8"></script>
  <script src="quizz-vue.js" charset="utf-8" defer></script>
  <title>Drill en mode Vue</title>
</head>
<body>

<div id="app">
  <!-- <h1>{{ title }}</h1> -->

  <!-- <exercise-type-1>

    </exercise-type-1> -->

  <section class="section">
    <!-- <exercise-type-2>
    </exercise-type-2> -->
    <flexercise>

    </flexercise>
  </section>


</div>

<template id="exe-tpl-2">
<div id="exe2" class="container">
  <div class="has-text-centered">
    <h1 class="title is-spaced">{{ title }}</h1>
    <p class="content is-spaced" v-html="question"></p>
  </div>
  <div style="margin-bottom:20px;">
    <pre><code class="javascript hljs" v-html="code"></code></pre>
  </div>
  <div class="columns is-desktop">
    <div class="column">
      <form action="" v-on:submit.prevent="validateExercise">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input" v-bind:type="inputType" v-model="userInput">
          </div>
          <div class="control">
            <button type="submit" name="button" class="button is-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="column">
      <article class="message" v-bind:class="classObject">
        <div v-html="resultText" class="message-body"></div>
      </article>
    </div>
  </div>
  <button class="button is-primary is-large" v-on:click="loadExercise" style="position: absolute; top:0; left:0">Load</button>

</div>
</template>

<template id="flexercise">
  <div class="container">
    <div class="has-text-centered">
      <h1 class="title is-spaced">{{ title }}</h1>
      <p class="content is-spaced" v-html="question"></p>
    </div>
    <div style="margin-bottom:20px;">
      <pre><code class="javascript hljs" v-html="code"></code></pre>
    </div>
    <div class="columns is-desktop">
      <div class="column">

        <component v-bind:is="currentInputComponent" v-bind="currentInputProps" v-on:trigger-valid="validExercise"></component>

      </div>
      <div class="column">
        <article class="message" v-bind:class="classObject">
          <div v-html="resultText" class="message-body"></div>
        </article>
      </div>
    </div>
    <button class="button is-primary is-large" v-on:click="loadExercise" style="position: absolute; top:0; left:0">Load</button>

  </div>
</template>

<template id="TrueOrFalse">
  <div class="columns is-mobile has-text-white-bis">
    <div class="column has-text-centered" v-on:click="inputTrue">
      <h2 class="notification is-success is-size-4">{{ trueText }}</h2>
    </div>
    <div class="column has-text-centered" v-on:click="inputFalse">
      <h2 class="notification is-danger is-size-4">{{ falseText }}</h2>
    </div>
  </div>
</template>

<template id="formInput">
  <form action="" v-on:submit.prevent="validateExercise">
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input" v-bind:type="inputType" v-model="userInput">
      </div>
      <div class="control">
        <button type="submit" name="button" class="button is-primary">Submit</button>
      </div>
    </div>
  </form>
</template>

</body>
</html>
